TerraDotta_API/TerraDotta_API/bin/
TerraDotta_API/TerraDotta_API/obj/
TerraDotta_API/TerraDotta_API/wwwroot/Excel/
TerraDotta_API/TerraDotta_BusinessEntities/bin/
TerraDotta_API/TerraDotta_BusinessEntities/obj/
TerraDotta_API/TerraDotta_Manager/bin/
TerraDotta_API/TerraDotta_Manager/obj/
TerraDotta_API/TerraDotta_Repository/bin/
TerraDotta_API/TerraDotta_Repository/obj/
TerraDotta_API/.vs/
